@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;

    background-image: url("https://malu70.github.io/mindAR/img/xadVerde.png");

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#container {
    background-color: white;
    width: 85vw;
    height: auto;

    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 0;
    gap: 1rem;

    margin: 4rem 0;
}

h1 {
    font-family: "Playfair Display", serif;
    margin: 0;
    margin-bottom: 1rem;
}

.alimento {
    width: 85%;
    height: 9vw;
    background-color: ff;
    border-radius: .8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 15px 0 hsla(0, 0%, 0%, 0.25);
}

.alimento img {
    width: 28%;
    height: 80%;
    border-radius: 50%;

    object-fit: cover;
}

.bloc1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 36%;
    height: 100%;

    font-family: "Inter", sans-serif;
}

h3 {
    font-size: 1.1rem;
    font-weight: 100;
}

h4 {
    font-size: .8rem;
    font-weight: 100;
    color: hsla(0, 0%, 0%, 0.8);
}

p {
    width: 54%;

    text-align: end;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
}

#imgAlimento {
    border-radius: 50%;
}

h3,
h4 {
    margin: 0;
}

#buttons {
    width: 85%;
    height: 15vh;
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
}

button {
    width: 49%;

    font-size: 1.5rem;
    color: white;
    font-weight: bold;

    border-radius: .5rem;
    border: none;
}

#voltar {
    background-color: #FF0002;
    transition: 0.3s;
}

#confirmar {
    background-color: #20A200;
    transition: 0.3;
}

#voltar:hover {
    background-color: #5a0002;
    cursor: pointer;
}
#confirmar:hover{
    background-color: #197200;
    cursor: pointer;
}