@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;

    background-image: url("https://malu70.github.io/mindAR/img/xadVerde.png");

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: transparent;
    width: 85vw;
    height: 80vh;
    background-color: white;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container img {
    height: auto;
    width: 30%;
}

#buttons {
    width: 85%;
    height: 15vh;
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
}

button {
    width: 49%;

    font-size: 1.5rem;
    color: white;
    font-weight: bold;

    border-radius: .5rem;
    border: none;
}

#tutorial {
    background-color: #FF0002;
    transition: 0.3s;
}

#comecar {
    background-color: #20A200;
    transition: 0.3s;
}

#comecar:hover {
    background-color: #0f4700;
    cursor: pointer;
}
#tutorial:hover {
    background-color: #5a0002;
    cursor: pointer;
}

