body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("/mindAR/img/xadVerde.png");

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

#game h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3rem;
}

#game h3 {
    color: #FFFFFF;
    font-size: 2.5rem;
}

#game button {
    width: 15%;

    font-size: 3rem;
    color: #009040;

    border-radius: .5rem;
    border: #FFFFFF;
}