@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;

    background-image: url("https://malu70.github.io/mindAR/img/xadVerde.png");

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.containeregras {
    background-color: white;
    width: 85vw;
    height: auto;
    margin: 5% 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 1.5rem;
}

#regras {
    width: 85%;

    margin: 2% 0;
}

h1 {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
}

h3 {
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
}

p,
ul li {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
}

p {
    text-indent: 1.5em
}

#btnsRegras {
    width: 85%;
    height: 6vh;
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;

    margin: 5% 0;
}

button {
    width: 96%;

    font-size: 1rem;
    color: white;
    font-weight: bold;

    border-radius: .5rem;
    border: none;
}

#voltar {
    background-color: #FF0002;
    transition: 0.3s;
}

#voltar:hover {
    background-color: #5a0002;
    cursor: pointer;
}