@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;

    background-image: url("/img/xadVerde.png");

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#container {
    background-color: white;
    width: 85vw;
    height: auto;

    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 0;
    gap: 1rem;

    margin: 4rem 0;
}

h1 {
    font-family: "Playfair Display", serif;
    margin: 0;
    margin-bottom: 1rem;
    width: 85%;
}

#alimentosPrato {
    width: 85%;

    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.alimento {
    height: 9vw;

    background-color: ff;
    border-radius: .8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 15px 0 hsla(0, 0%, 0%, 0.25);
}

.alimento img {
    width: 28%;
    height: 80%;
    border-radius: 50%;

    object-fit: cover;
}

.bloc1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 36%;
    height: 100%;

    font-family: "Inter", sans-serif;
}

h3 {
    font-size: 1.1rem;
    font-weight: 100;
}

h2 {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    width: 90%;

    margin: 0;
}

h4 {
    font-size: .8rem;
    font-weight: 100;
    color: hsla(0, 0%, 0%, 0.8);
}

p {
    width: 54%;

    text-align: end;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
}

#imgAlimento {
    border-radius: 50%;
}

h3,
h4 {
    margin: 0;
}

#analise {
    background-color: white;
    width: 85%;

    border-radius: .8rem;
    padding: 3rem 0;

    box-shadow: 0 0 15px 0 hsla(0, 0%, 0%, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#proteinas, #carboidrato, #fibras, #calorias, #gorduras {
    width: 90%;
}

.nutri {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 1.2rem;
}

.barra {
    height: 17%;
}

.ponteiro {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid orange;

    position: relative;
    top: 8px;
}

.barra {
    display: flex;
}

.barras {
    height: 60px;
}

.Tbarra {
    width: 33.33%;
    height: 100%;

}

.abaixo,
.acima {
    background-color: #EE0004;
}

.acima {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.abaixo {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.certo {
    background-color: #27C500;
}

.legenda {
    display: flex;
    height: 30%;
    margin-top: 5px;
}

.legenda p {
    font-size: .9rem;
    margin: 0;
    text-align: center;
}

.legenda .legAbaixo {
    text-align: left;
}

.legenda .legAcima {
    text-align: right;
}