body {
    margin: 0;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.jogo {
    display: none;
}

#game {
    width: 90%;
    height: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#prod {
    display: flex;
    justify-content: space-between;
}

#prod p {
    font-weight: bold;
    color: white;
    font-size: 1.8rem;
}

#prod p:first-child {
    text-transform: uppercase;
}

#controls {
    display: flex;
    z-index: 9999999999;
    justify-content: space-between;
    height: 15%;
}

#menos,
#mais {
    width: 12%;

    font-size: 3rem;
    color: white;

    border-radius: .5rem;
    border: none;
}

#menos {
    transition: 0.3s;
    background-color: #A70003;
}

#menos:hover {
    background-color: #5a0002;
    cursor: pointer;

}

#mais {
    transition: 0.3s;
    background-color: #166C00;
}

#mais:hover {
    background-color: #0f4700;
    cursor: pointer;
}

#salvarLista {
    width: 35%;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;

    border-radius: .5rem;
    border: none;
    background-color: #27C500;
}

#none {
    display: block;
}

#block {
    display: none;
}

.a-enter-vr-button {
    display: none !important;
}

a-scene {
    pointer-events: none !important;
}

